body{
    margin: 0 2em;
    font-family: 'Raleway', sans-serif;
}
/** Header et navigation **/
header {
    display: flex;
    justify-content: space-between;
}

#logo img {
    width: 20%;
}

header ul{
    list-style-type: none;
}

nav li {
    display: inline-block;
    text-align: center;
}

nav{
    font-size: 16px;
}

.hebergement {
    border-top: solid 1px #0065FC;
    padding-top: 20px;
    margin-right: 14px;
    color: #0065FC;
}

.activites{
    margin-left: 14px;
    margin-right: 14px;
    color: #161616;
}

.inscription{
    font-weight: bold;
    margin-left: 14px;
}

nav a {
    text-decoration: none;
}

.menu-nav li{
    
}


/** Présentation et recherche **/
h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.presentation strong{
    font-weight: 100;
    font-size: 14px;
}

.btn-rechercher {
    background-color: blue;
    border: none;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 12px;
}

/** Filtres de recherche **/

.filtres {
    display: flex;
}

.filtres ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.filtres li{
    border: 1px solid grey;
    padding: 2px;
    margin: px;
    border-radius: 12px;
}

.filtres i{
    color: blue;
    background-color: red;
    padding: 3px;
    border-radius: 12px;
}