
/*grand écran : 
 - nav{margin-right:13em;}
 - .conteneur-element{max-width:66%;}
 petit écran :
 - nav{margin-right:1em;}
 - .conteneur-element{max-width:56%;}
*/


body{
    margin: 0 8em 0 8em;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
    color:black;
}
a:hover{
    color: #0065FC;
}


/** Header et navigation **/
header {
    display: flex;
    width: 100%;
}

#logo {
    width: 10%;
    height: 10%;
}

.bouton-nav
{
    padding: 30px;
    border-top: solid 3px white;
}

.bouton-nav:hover{
    border-top: solid 1px #0065FC;
}

nav
{
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 1em;
}

#inscription
{
    padding: 33px;
    font-size: 1em;
    font-weight: bold;
}

/** Présentation et recherche **/
#rechercher
{
    font-weight: 500;
    margin-top: -10px;
    margin-bottom: 25px;
}

#rechercher h2{
    margin-top: -10px;
}

#pictogramme{
    font-size: 1.2em;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: center;
    background-color:  #F2F2F2;
    border-radius: 15px 0 0 15px;
}

#formulaire-recherche{
    display: inline-flex;
    height: 50px;
    border: solid 0.5px #F2F2F2;
    border-radius: 20px;
}

#champ-recherche input{
    border: none;
    vertical-align: center;
    height: 48px;
    width: 220px;
    padding-left: 20px;
    font-size: 1.1em;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#champ-recherche input::placeholder
{
    color:black;
}

/**btn-rechercher**/

#bouton-pc button{
    border: none;
    height: 50px;
    width: 150px;
    background-color:#0065FC ;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

#bouton-mobile button{
    border: none;
    height: 50px;
    width: 50px;
    background-color:#0065FC ;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    display: none;
}

/** Filtres de recherche **/

.filtres {
    display: flex;
    align-items: baseline;
}

.filtres ul{
    display: flex;
    list-style-type: none;
    margin: 0 0 12px 0;
}

.filtres li{
    border: 1px solid #F2F2F2;
    border-radius: 28px;
    padding-right: 14px;
    margin: 20px;
    margin-bottom: 0;
    text-decoration: none;
}

.filtres span{
    font-weight: bold;
    color:black;
}

.filtres i{
    border-radius: 34px;
    padding: 14px;
    margin-right: 14px;
    color: #0065FC;
    background-color: #DEEBFF;
}

.filtres li:hover{
    background-color: #DEEBFF;
}

.conclusion-filtres{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.conclusion-filtres i{
    border: #cbcbcb solid 1px;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    line-height: 9px;
    padding: 6px;
    margin-right: 6px;
    color: #0065FC;
}

.conclusion-filtres p{
    font-size: 14px;
    font-weight: 500;
}

.conclusion-filtres span{
    text-align: center;
}

/*Partie principale hébergements*/

.conteneur-principal{
    display: flex;
    width: 100%;
}

.hebergements{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.conteneur-hebergements{
    border: #F2F2F2 1px solid;
    background-color: #F2F2F2;
    border-radius: 18px;
    padding: 18px 0px 0 28px;
    max-width: 66%;
}

.conteneur-hebergements img{
    height: 7em;
    margin: 6px;
    border-radius: 18px 18px 0 0;
    object-fit: cover;
}

/*Cadres éléments hébergements */

.element:hover{
    border: #F2F2F2 1px solid;
    box-shadow: 10px 5px 5px black;
}

.element{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 18px;
    width: 275px;
    height: 196px;
    margin: 30px 30px 30px 0;
    white-space: nowrap;
    box-shadow: 5px 5px 5px 5px rgba(233,233,233,0.75);
}

.element a{
    font-weight: bold;
    color: black;
}

.element p{
    padding-bottom: 0px;
    margin-top: 1px;
    margin-bottom: 2px;
    padding-left: 16px;
    padding-right: 16px;
}

#afficher-plus{
    font-weight: bold;
}

/*Les plus populaires */

.conteneur-populaires{
    border: #F2F2F2 1px solid;
    background-color: #F2F2F2;
    border-radius: 18px;
    padding: 18px 28px 0 28px;
    margin-left: 2%;
    max-width: 25%;
}

.alignement-titre-populaire{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
}

.elements-populaire{
    padding-right: 18px;
}

.populaire{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 18px;
    margin: 24px 0;
    box-shadow: 5px 5px 5px 5px rgba(233,233,233,0.75);
}

.populaire img{
    width: 9rem;
    height: 9em;
    object-fit: cover;
    border-radius: 18px 0 0 18px;
    margin: 6px;
}

#alignement-texte-populaire{
    margin-bottom: 0;
    margin-top: 5px;
}

.populaire:hover{
    border: #F2F2F2 1px solid;
    box-shadow: 10px 5px 5px black;
}

/*Etoiles notation*/

.notation-hebergements{
    padding-left: 15px;
    padding-bottom: 6px;
}

.notation-populaire{
    padding-top: 30px;
    padding-left: 0px;
}

.etoile-bleue{
    color: #0065FC;
}

.etoile-vide{
    color: #e2e2e2;
}

/*Activités à Marseille*/

.activites{
    margin-top: 3em;
}

.conteneur-activites-global{
    display:flex;
    margin-bottom: 40px
}

/*--- Aligne les plus petites cartes ---*/
.conteneur-activites-1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.conteneur-activites-2{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

figure {
    border-radius: 18px;
    box-shadow: 1px 1px 5px 5px rgba(233,233,233,0.75);
    display: flex;
    flex-flow: column;
    margin: 0 40px 0 0;
}

figure:hover{
    box-shadow: 10px 5px 5px black;
}

figure p {
    padding: 0 0 0 10px;
    text-align: left; 
    font-weight: bold;
}

.activites-carte-extra-grand img {
    height: 27em;
    width: 20rem;
    object-fit: cover;
    border-radius: 18px 18px 0 0;
}

.activites-carte-grand img{
    height: 13em;
    width: 20em;
    object-fit: cover;
    border-radius: 18px 18px 0 0;
}

.activites-carte-moyen img {
    height: 11em;
    width: 20rem;
    object-fit: cover;
    border-radius: 18px 18px 0 0;
}

.activites-carte-petit img {
    height: 9em;
    width: 20rem;
    object-fit: cover;
    border-radius: 18px 18px 0 0;
}

.alignement-tablette1, .alignement-tablette2{
    display: flex;
    margin: 0;
}

/* Footer */

.bas-de-page{
    display: flex;
    background-color: #F2F2F2;
    font-size: 14px;
}

.bas-de-page ul{
    list-style-type: none;
    margin-right: 15%;
}

.bas-de-page li{
    padding-bottom: 12px;
}

/** MEDIA QUERIES **/

@media screen and (max-width: 500px){
/* MOBILE */
    body{
        margin-left: 0;
        margin-right: 0;
    }

    h3{
        font-size: 1.5em;
        margin-bottom: 5px;
        margin-left: 5px;
    }

    header
    {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 10px;
    } 
    
    header :nth-child(2)
    {
        order:3 ;
    }

    #logo{
        width: 165px;
        margin: 20px 0 0 10px;
    }

    nav{
        border-bottom: solid 2px #F2F2F2;
        width: 95%;
        justify-content: center;
        margin-left: 0;
        margin-bottom: 20px;
    }
     
    nav :nth-child(1){
        margin-right: 40px;
    }

    #rechercher {
        font-weight: 500;
        margin-bottom: 0px;
        margin-left: 10px;
    }

    #rechercher h2 {
        margin-top: 10px;
    }

    .bouton-nav{
        padding: 15px;
        border-top-style: none;
        border-bottom-style: solid;
        border-bottom-width: 3px;
        border-bottom-color: white;
    }

   .bouton-nav:hover{
        border-bottom-color:#0065FC;
        border-top: none;
    }  

    #inscription{
        padding-top: 48px;
    }

    #bouton-pc button{
        display: none;
    }

    #bouton-mobile button{
        display: initial;
    }

    .filtres {
        display: flex;
        width: 355px;
        flex-direction: column;
    }

    .filtres h2{
        margin-top: 15px;
    }

    .filtres ul {
        display: flex;
        list-style-type: none;
        margin: 0 0 12px 0;
        padding-left: 0;
        flex-wrap: wrap;
    }

    .filtres li {
        border: 1px solid #F2F2F2;
        border-radius: 28px;
        padding-right: 10px;
        margin: 5px;
        text-decoration: none;
    }

    .conteneur-principal {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .conteneur-populaires {
        border: white 1px solid;
        background-color: #F2F2F2;
        border-radius: 0;
        padding: 0px 10px 0 10px;
        margin-left: 0;
        max-width: 100%;
    }

    .conteneur-hebergements {
        border: none;
        background-color: white;
        padding: 0 0 0 10px;
        max-width: 100%;
    }

    .element {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: white;
        border-radius: 18px;
        width: 90%;
        height: 196px;
        margin: 10px 0 10px 0;
        box-shadow: 5px 5px 5px 5px rgb(233 233 233 / 75%);
    }

    #afficher-plus {
        font-weight: bold;
        font-size: 1.25em;
        margin-left: 10px;
    }

    .activites{
        margin-top: 0;
    }

    .activites h3{
        margin-bottom: 25px;
        margin-left: 15px;
    }

    .conteneur-activites-global {
        display: flex;
        margin-bottom: 40px;
        flex-direction: column;
    }
    
    .conteneur-activites-2 {
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    figure {
        border-radius: 18px;
        box-shadow: 1px 1px 5px 5px rgb(233 233 233 / 75%);
        display: flex;
        flex-direction: column;
        margin: 0 18px 28px 18px;
    }

    .activites-carte-extra-grand img, .activites-carte-grand img, .activites-carte-moyen img, .activites-carte-petit img {
        height: 196px;
        width: 100%;
        object-fit: cover;
        border-radius: 18px 18px 0 0;
    }

    .alignement-tablette1, .alignement-tablette2{
        display: block;
        margin: 0;
    }

    .bas-de-page{
        flex-direction: column;
    }
}

@media screen and (min-width: 501px) and (max-width: 1000px){
/* TABLETTE */

    body{
        margin: 0;
    }

    header{
        margin-left: 10px;
    }

    #rechercher{
        margin-left: 10px;
        margin-top: 25px;
    }

    .filtres{
        display: flex;
        align-items: center;
    }

    #rechercher h2{
        margin-top: 0;
    }

    .filtres ul{
        display: flex;
        list-style-type: none;
        margin: 0 0 12px 0;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .conteneur-principal{
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
    }

    .conteneur-populaires{
        max-width: 100%;
        padding: 18px 10px 0 18px;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .populaire img{
        width: 8rem;
        height: 9em;
    }

    .populaire{
        width: 350px;
    }

    .elements-populaires{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .conteneur-hebergements{
        max-width: 100%;
        padding: 18px 10px 0 18px;
        border: none;
        background-color: white;
    }

    .hebergements {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: wrap;
    }

    .activites{
        margin-left: 10px;
    }

    .conteneur-activites-global {
        display: flex;
        margin-bottom: 40px;
        flex-direction: column;
    }

    .alignement-tablette1{
        margin-bottom: 40px;
    }

    .alignement-tablette1, .alignement-tablette2{
        display: flex;
        justify-content: space-around;
    }

    .activites-carte-extra-grand img {
        height: 23em;
        width: 19em;
    }

    .activites-carte-extra-grand{
        width: 19em;
    }

    .activites-carte-grand img {
        height: 10em;
        width: 19em;
    }

    .activites-carte-grand{
        width: 19em;
    }

    .activites-carte-petit img {
        height: 8em;
        width: 19em;
    }

    .activites-carte-petit{
        width: 19em;
    }

    .activites-carte-moyen img {
        height: 9em;
        width: 19rem;
    }

    .activites-carte-moyen{
        width: 19em;
    }
}


@media screen and (min-width: 1001px) and (max-width: 1200px){
/* LAPTOP */
    body{
        margin: 0 0 0 3.8em;
    }

    .conteneur-principal{
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
    }

    .conteneur-hebergements{
        padding: 18px 0 0 18px;
        width: 95%;
    }

    .conteneur-populaires{
        max-width: 95%;
        margin-left: 0;
        margin-bottom: 40px;
        padding: 18px 18px 0 18px;
    }

    .conteneur-hebergements{
        max-width: 95%;
        padding: 18px 18px 0 18px;
    }

    .conteneur-hebergements h3{
        margin: 0;
    }

    .hebergements {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .elements{
        width: 275px;
        height: 196px;
        margin: 25px 22px 20px 0;
    }

    .populaire img {
        width: 8rem;
        height: 9em;
    }

    .populaire{
        width: 350px;
    }

    .elements-populaires{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #alignement-texte-populaire{
        margin-bottom: 0;
    }

    .notation-populaire {
        padding-top: 20px;
        padding-left: 0px;
    }

    .activites{
        margin-top: 1em;
    }

    .activites h3{
        margin: 0 0 20px 0;
    }

    figure{
        margin: 0 22px 0 0;
    }

    .activites-carte-extra-grand img {
        height: 21em;
        width: 13.8rem;
    }

    .activites-carte-grand img {
        height: 8em;
        width: 13.8em;
    }

    .activites-carte-grand{
        width: 13.8em;
    }

    .activites-carte-petit img {
        height: 6em;
        width: 13.8rem;
    }

    .activites-carte-petit{
        width: 13.8em;
    }

    .activites-carte-moyen img {
        height: 9em;
        width: 13.8rem;
    }

    .activites-carte-moyen{
        width: 13.8em;
    }

    .alignement-tablette1, .alignement-tablette2{
        display: flex;
        margin: 0;
    }

    .conteneur-activites-global {
        display: flex;
        margin-bottom: 40px;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1500px){
/* LAPTOP Grand écran */
    body{
        margin: 0 1em 0 1em;
    }

    .conteneur-hebergements{
        padding: 18px 0 0 18px;
    }

    .conteneur-hebergements h3{
        margin: 0;
    }

    .elements{
        width: 250px;
        height: 196px;
        margin: 25px 22px 20px 0;
    }

    .populaire img {
        width: 7rem;
        height: 8em;
    }

    .notation-populaire {
        padding-top: 20px;
        padding-left: 0px;
    }

    .activites h3{
        margin: 0 0 20px 0;
    }

    figure{
        margin: 0 22px 0 0;
    }

    .activites-carte-extra-grand img {
        height: 24em;
        width: 20rem;
    }

    .activites-carte-grand img {
        height: 10em;
        width: 20em;
    }

    .activites-carte-petit img {
        height: 8em;
        width: 20rem;
    }

    .activites-carte-moyen img {
        height: 9em;
        width: 20rem;
    }

    .alignement-tablette1, .alignement-tablette2{
        display: flex;
        margin: 0;
    }
}