body{
    margin: 0 8em 0 8em;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
    color:black;
}
a:hover{
    color: #0065FC;
}


/** Header et navigation **/
header {
    display: flex;
    justify-content: space-between;
}

#logo img {
    width: 20%;
}

header ul{
    list-style-type: none;
}

nav li {
    display: inline-block;
    text-align: center;
    padding-top: 28px;
}
nav li:hover{
    border-top: solid 1px #0065FC;
}

nav{
    font-size: 16px;
}

.nav-hebergement {
    margin-right: 24px;
}

.nav-activites{
    margin-left: 24px;
    margin-right: 24px;
}

.nav-inscription{
    font-weight: bold;
    margin-left: 24px;
}
.nav-inscription:hover{
    border-top: none;
}

/** Présentation et recherche **/
h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.presentation strong{
    font-weight: 500;
    font-size: 14px;
}

/**btn-rechercher**/
.btn-rechercher {
    background-color: #0065FC;
    border: none;
    font-weight: bold;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 14px;
}

#rechercher{
    display: flex;
    align-items: center;
}

.fa-map-marker-alt:before {
    content: "\f3c5";
    background-color: #F2F2F2;
    padding: 14px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

#input-recherche {
    border: 1px solid #F2F2F2;
    padding: 10px 0 10px 14px;
    font-weight: bold;
    font-size: large;
}

/** Filtres de recherche **/

.filtres {
    display: flex;
    align-items: baseline;
}

.filtres ul{
    display: flex;
    list-style-type: none;
    margin: 0 0 12px 0;
}

.filtres li{
    border: 1px solid #F2F2F2;
    border-radius: 28px;
    padding-right: 14px;
    margin: 20px;
    margin-bottom: 0;
    text-decoration: none;
}

.filtres span{
    font-weight: bold;
    color:black;
}

.filtres i{
    border-radius: 34px;
    padding: 14px;
    margin-right: 14px;
    color: #0065FC;
    background-color: #DEEBFF;
}

.conclusion-filtres{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.conclusion-filtres i{
    border: #cbcbcb solid 1px;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    line-height: 9px;
    padding: 6px;
    margin-right: 6px;
    color: #0065FC;
}

.conclusion-filtres p{
    font-size: 14px;
    font-weight: 500;
}

.conclusion-filtres span{
    text-align: center;
}

/*Partie principale hébergements*/

.conteneur-principal{
    display: flex;
    border: black 1px solid;
    width: 100%;
}

.hebergements{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.conteneur-hebergements{
    border: #F2F2F2 1px solid;
    background-color: #F2F2F2;
    border-radius: 12px;
    padding: 18px;
    width: 66%;
}

.conteneur-hebergements img{
    height: 7em;
    margin: 6px;
    border-radius: 18px 18px 0 0;
    object-fit: cover;
}

/*Cadres éléments hébergements */

.element{
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 18px;
    width: 275px;
    height: 196px;
    margin-right: 30px;
    margin-bottom: 30px;
    white-space: nowrap;
}

.element a{
    font-weight: bold;
    color: black;
}

.element p{
    padding-bottom: 0px;
    margin-top: 1px;
    margin-bottom: 2px;
    padding-left: 16px;
    padding-right: 16px;
}



.etoiles{
    padding-left: 15px;
    padding-bottom: 6px;
}

/*Les plus populaires */

.populaire{
    display: flex;
}

.populaire img{
    width: 9rem;
    object-fit: contain;
    border-radius: 36px 0 0 36px;
}